div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    .row
      .col-lg-4
        img.img-repsonsive#nashTN(src='assets/images/iphoneNashvesTNA.png')
      .col-lg-8
        h1 Connect &bull; Involve &bull; Invest
        p.google2 As seen in Google Play, coming Soon to the App Store!
        p.lead Get the app now!
          a(href='https://play.google.com/store/apps/details?id=com.ionicframework.gpnashvestn202992', role='button', target='_blank')
            img.googleP(src='assets/images/googlePlay.png', alt='Google Play')

    .row
      .col-lg-12
        img#skyline(src='assets/images/NashvilleSkyline.png')
        .row.callToAction
          .col-sm-6.register
            h3 Are you an organization?
            button.btn.btn-default.btn-lg(ng-click='register()') Register
          .col-sm-6.donate
            h3 Want to start donating?
            a.button.btn.btn-default.btn-lg(href='https://play.google.com/store/apps/details?id=com.ionicframework.gpnashvestn202992', role='button', target='_blank') Get the App
  section.info
    .row
      .col-sm-8.about
        h1.page-header About Us
        p.lead NashvesTN helps non-profit organizations increase their community impact by engaging the Millennial Generation.

        p Our mobile app makes it easier for social advocates to donate directly to homeless individuals in their community.  
         | Through a participating non-profit organization, homeless individuals can set up a profile to tell their story, share their 
         | skills and aspirations, and provide updates to advocates.  Using a simple QR code linked to their profile (put it on a sticker, 
         | badge, or business card!), homeless individuals can share their profile with the community .  Advocates scan the QR code, 
         | which pulls up the homeless individual's profile.  Within a few clicks, advocates can learn more about the individual in 
         | need, make a donation, and save the profile their list.
      .col-sm-4
        img.img-responsive.infoGraphic(src='assets/images/MIP2014_infographics10.png', alt='InfoGraphic')
    .row
      .col-sm-8.why
        h2 Why Should My Organization use this?
        p.lead Tech-enabled and action-oriented Millennials are reshaping charitable giving!  

        p Millennials engage with causes to help people, not institutions; are strongly influenced by the 
          | decisions and behaviors of their peers; equally value their their time, money, &amp; assets; and need to see 
          | the direct impact or tangible results of their contributions.
        .row.how
          .col-lg-6
            h3 Appealing to Millennials:
            ul 
              li a sleek, modern interface for online giving
              li fosters personal connections with people in need
              li evidence of their impact in the form of success stories &amp; updates
              li opportunity to share the impact of their contributions on social networks
          .col-lg-6
            h3 What can I do?
            ul 
              li Educate yourself - understand who the homeless are
              li Respect the homeless as individuals - respond with kindness &amp; smile
              li Get involved - invest in your community by donating your time, money, or skills
              li Be an ambassador for change - contact your government representatives
      .col-sm-4
        img.img-responsive.infoGraphic(src='assets/images/MIP2014_infographics9.png', alt='InfoGraphic')


section#team.our-team
  .container
    // SECTION HEADER
    .section-header
      // SECTION TITLE
      h2.dark-text Our Team
    // TEAM MEMBERS
    .row.wow.fadeInRight.animated(data-wow-offset='40', data-wow-duration='3s', data-wow-delay='0.15s')
      // MEMBER 1
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic.img-responsive
            img(src='assets/images/team/pic1.jpg', alt='')
            // MEMBER PROFILE PIC
          .member-details
            h5.dark-text.red-border-bottom Melanie Fryman
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='http://www.linkedin.com/in/mlfryman')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/mlfryman')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/mlfryman')
                  i.fa.fa-github-square
      // MEMBER 2
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic.img-responsive
            img(src='assets/images/team/pic2.jpg', alt='')
          .member-details
            h5.dark-text.green-border-bottom Brian Hiatt
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='www.linkedin.com/pub/brian-hiatt/99/200/151')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/twitter.com/bchiatt')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/bchiatt')
                  i.fa.fa-github-square
      // MEMBER 3
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic.img-responsive
            img(src='assets/images/team/pic3.jpg', alt='')
          .member-details
            h5.dark-text.blue-border-bottom Jeremy Jones
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='www.linkedin.com/pub/jeremy-jones/36/82b/367')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/banjeremy')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/banjeremy')
                  i.fa.fa-github-square
      // MEMBER 4
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic.img-responsive
            img(src='assets/images/team/pic4.jpg', alt='')
          .member-details
            h5.dark-text.yellow-border-bottom Kayla Jones
            .position
              | PM &amp; Team Member
          .social-icons
            ul
              li
                a(href='')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/kaylalynjones')
                  i.fa.fa-github-square
    // MEMBER 5
    .row.team2
      .custcol
        .team-member
          figure.profile-pic.img-responsive
            img(src='assets/images/team/pic5.jpg', alt='')
          .member-details
            h5.dark-text.red-border-bottom Sarah Pearson
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='www.linkedin.com/in/sarahpearson/')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/SassPearson')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/sarahmpearson')
                  i.fa.fa-github-square
      // MEMBER 6
      .custcol
        .team-member
          figure.profile-pic.img-responsive
            img(src='assets/images/team/pic6.jpg', alt='')
          .member-details
            h5.dark-text.red-border-bottom Joy Pratt
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='www.linkedin.com/in/joypratt')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/joympratt')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/JoyP')
                  i.fa.fa-github-square
      // MEMBER 7
      .custcol
        .team-member
          figure.profile-pic.img-responsive
            img(src='assets/images/team/pic7.jpg', alt='')
          .member-details
            h5.dark-text.red-border-bottom Jessica Raines
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='www.linkedin.com/pub/jessica-r/28/33/644')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/jescafaith')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/jessicafraines')
                  i.fa.fa-github-square
      // MEMBER 8
      .custcol
        .team-member
          figure.profile-pic.img-responsive
            img(src='assets/images/team/pic8.jpg', alt='')
          .member-details
            h5.dark-text.red-border-bottom Gregg Reece
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='www.linkedin.com/pub/gregg-reece/6/796/412')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/undeadfish')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/undeadfish')
                  i.fa.fa-github-square
      // MEMBER 9
      .custcol
        .team-member
          figure.profile-pic.img-responsive
            img(src='assets/images/team/pic9.jpg', alt='')
          .member-details
            h5.dark-text.red-border-bottom Shruti Sharma
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='www.linkedin.com/in/shrutijalewar')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/shrutijalewar')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/shrutijalewar')
                  i.fa.fa-github-square


footer.footer
  .container
    p
      | NashvesTN v1.0.13
      = ' | '
      a(href='https://github.com/banjeremy/nashvestn-server/issues?state=open') Issues
