div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    .row
      .col-lg-4
        img.img-repsonsive#nashTN(src='assets/images/iphoneNashvesTNA.png')
      .col-lg-8
        h1 Connect * Involve * Invest
        p.google2 As seen in Google Play & Coming Soon to the App Store!
        p.lead Get the app now!
          a(href='https://play.google.com/store?hl=en', role='button', target='_blank')
            img.googleP(src='assets/images/googlePlay.png', alt='Google Play')

    .row
      .col-lg-12
        img#skyline(src='assets/images/NashvilleSkyline.png')
        .row.callToAction
          .col-lg-6
            h3 Are you an organization?
            button.btn.btn-primary(ng-click='register()') Register
          .col-lg-6
            h3 Want to start donating?
            a.button.btn.btn-primary(href='https://play.google.com/store?hl=en', role='button', target='_blank') Get the App

.container
  .row
    .col-lg-8
      h1.page-header About:
      p.about NashvesTN helps non-profit organizations increase their community impact by engaging the Millennial Generation.

      p.about Our mobile app that makes it easier for social advocates to donate directly to homeless individuals in their community.  
       | Through a participating non-profit organization, homeless individuals can set up a profile to tell their story, share their 
       | skills & aspirations, & provide updates to advocates.  Using a simple QR code linked to their profile (put it on a sticker, 
       | badge, or business card!), homeless individuals can share their profile with the community .  Advocates scan the QR code, 
       | which pulls up the homeless individual's profile.  Within a few clicks, advocates can learn more about the individual in 
       | need, make a donation, & save the profile their list.
    .col-lg-4
      img.img-responsive.infoGraphic(src='assets/images/MIP2014_infographics10.png', alt='InfoGraphic')
  .row
    .col-lg-4
      img.img-responsive.infoGraphic(src='assets/images/MIP2014_infographics9.png', alt='InfoGraphic')
    .col-lg-8.whySection
      h2.why Why Should My Organization use this?
      p.about Tech-enabled & action-oriented Millennials are reshaping charitable giving!  

      p.about Millennials engage with causes to help people, not institutions; are strongly influenced by the 
        | decisions & behaviors of their peers; equally value their their time, money, & assets; and need to see 
        | the direct impact or tangible results of their contributions.

section#team.our-team
  .container
    // SECTION HEADER
    .section-header
      // SECTION TITLE
      h2.dark-text Our Team
      // SHORT DESCRIPTION ABOUT THE SECTION
      h6
        | Check out our awesome team memebers who always work hard to provide quality products.
    // TEAM MEMBERS
    .row.wow.fadeInRight.animated(data-wow-offset='40', data-wow-duration='3s', data-wow-delay='0.15s')
      // MEMBER 1
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic1.jpg', alt='')
            // MEMBER PROFILE PIC
          .member-details
            h5.dark-text.red-border-bottom Melanie Fryman
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/mlfryman')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/mlfryman')
                  i.fa.fa-github-square
      // MEMBER 2
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic2.jpg', alt='')
          .member-details
            h5.dark-text.green-border-bottom Brian Hiatt
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/twitter.com/bchiatt')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/bchiatt')
                  i.fa.fa-github-square
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
      // MEMBER 3
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic3.jpg', alt='')
          .member-details
            h5.dark-text.blue-border-bottom Jeremy Jones
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/banjeremy')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/banjeremy')
                  i.fa.fa-github-square
      // MEMBER 4
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic4.jpg', alt='')
          .member-details
            h5.dark-text.yellow-border-bottom Kayla Jones
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/kaylalynjones')
                  i.fa.fa-github-square
    // MEMBER 5
    .row.team2
      .col-lg-2.col-sm-2.col-md-offset-1
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic5.jpg', alt='')
          .member-details
            h5.dark-text.red-border-bottom Sarah Pearson
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/SassPearson')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/sarahmpearson')
      // MEMBER 6
      .col-lg-2.col-sm-2.offset-1
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic6.jpg', alt='')
          .member-details
            h5.dark-text.red-border-bottom Joy Pratt
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/joympratt')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/JoyP')
                  i.fa.fa-github-square
      // MEMBER 7
      .col-lg-2.col-sm-2
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic7.jpg', alt='')
          .member-details
            h5.dark-text.red-border-bottom Jessica Raines
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/jescafaith')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/jessicafraines')
                  i.fa.fa-github-square
      // MEMBER 8
      .col-lg-2.col-sm-2
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic8.jpg', alt='')
          .member-details
            h5.dark-text.red-border-bottom Gregg Reece
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/undeadfish')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/undeadfish')
                  i.fa.fa-github-square
      // MEMBER 9
      .col-lg-2.col-sm-2
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic9.jpg', alt='')
          .member-details
            h5.dark-text.red-border-bottom Shruti Sharma
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/shrutijalewar')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/shrutijalewar')
                  i.fa.fa-github-square

footer.footer
  .container
    p
      | NashvesTN v2.0.13
      = ' | '
      a(href='https://github.com/banjeremy/nashvestn-server/issues?state=open') Issues
