.col-sm-12
  h1 Nashvestn
  .row
    .col-sm-1
    .col-sm-6
      .donee(ng-repeat='donee in donees')
      img(ng-src='assets/images/yeoman.png')
    .col-sm-4
      h2 {{donee.alias}} Alias
      .row
        .col-sm-6
          qrcode( version='4', size='200', error-correction-level='H', data='Twenty-four chars long..', download='true')
        .col-sm-6
          button#print.btn.btn-primary(ng-click='printQR()') Print QR Code
    .col.sm-1
  .row
    .col-sm-1
    .col-sm-6
      i.fa.fa-pencil.fa-fw.fa-2x.pull-right.edit(ng-click='storyForm = !storyForm')
      #story(ng-hide='storyForm', ng-class="{ active: storyForm}")
        h3 My Story
        p {{donee.story}}
      #storyForm(ng-show='storyForm', ng-class="{active: storyForm}")
        .form-group
          label(for='story') Story
            textarea.form-control(name='story', type='text', cols='60', rows='5', ng-model='donee.story')
        .button.btn.btn-primary(ng-click='editStory()') Save
    .col-sm-4
      i.fa.fa-pencil.fa-fw.fa-2x.pull-right.edit(ng-click='skillsForm = !skillsForm')
      #mySkills(ng-repeat='skill in donee.skills')
      #skills(ng-hide='skillsForm', ng-class="{active: skillsForm}")
        h3 My Skills
        h4 {{skill}} skill1
      #skillsForm(ng-show='skillsForm', ng-class="{active: skillsForm}")
        .form-group
          label(for='skills') Skills
            textarea.form-control(name='skills', type='text', cols='60', rows='5', ng-model='donee.skills')
        .button.btn.btn-primary(ng-click='editSkills()') Save
    .col-sm-1
  .row
    .col-sm-1
    .col-sm-10
      i.fa.fa-pencil.fa-fw.fa-2x.pull-right.edit(ng-click='goalsForm = !goalsForm')
      #goals
        h3 My Goals
        p {{donee.goals}}
      #goalsForm(ng-show='goalsForm', ng-class="{active: goalsForm}")
        .form-group
          label(for='goals') Goals
            textarea.form-control(name='goals', type='text', cols='90', rows='5', ng-model='donee.goals')
        .button.btn.btn-primary(ng-click='editGoals()') Save
    .col-sm-1
  .row
    .col-sm-1
    .col-sm-6
      h3 Add Updates
      form(role='form', novalidate, name='updateForm')
      .form-group
        textarea.form-control#text(type='text', name='text', cols='40', rows='3',ng-model='donee.newUpdateText', required, placeholder='text')
      .form-group
        button.btn.btn-primary(ng-show='updateForm.$valid', ng-click='addUpdate()') Submit
    .col-sm-4
      #updates(ng-repeat='update in donee.updates')
      h3 My Updates
      .row
        .col-sm-4
          h5 {{update.date | date: 'MMM d, yyyy'}} date
        .col-sm-8
          h5 {{update.text}} update
    .col-sm-1
